name: Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - '2.7'
          - '3.5'
          - '3.6'
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    container:
      image: python:${{ matrix.python_version }}
    steps:
      - uses: actions/checkout@v4
      - name: Set environment variables
        run: |
          echo "PYTHON=$(echo '${{ matrix.python_version }}')" >> $GITHUB_ENV
          echo "TOXFACTOR=$(echo '${{ matrix.python_version }}' | sed -r 's/^([0-9]+)\.([0-9]+)$/py\1\2/g')" >> $GITHUB_ENV
      - name: Install distutils via setuptools for new Python versions
        run: pip install -U setuptools
        if: >-
          matrix.python_version == '3.12' ||
          matrix.python_version == '3.13' ||
          matrix.python_version == '3.14'
      - name: Install importlib-metadata for older Python versions
        run: pip install "importlib-metadata<3"
        if: >-
          matrix.python_version == '2.7' ||
          matrix.python_version == '3.5' ||
          matrix.python_version == '3.6' ||
          matrix.python_version == '3.7'
      - name: Install test utilities
        run: pip install "tox<4" tox-factor "coverage<5"
      - name: Lint with flake8
        run: tox -e flake8
        if: matrix.python_version == '3.14'
      - name: Test via tox
        run: tox -- -p no:warnings
      - name: Generate coverage report
        run: coverage xml
        if: ${{ success() }}
      - name: Upload coverage report
        uses: codecov/codecov-action@v4
        with:
          env_vars: PYTHON
          files: coverage.xml
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
        if: ${{ success() }}
